@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* THIS PART IS INCLUDE ONLINE FORM SETUP */


/* firststep */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* THIS PART IS ABOUT NAVIGATION BAR */

.navigation-bar {
    display: flex;
    width: 100%;
    background-color: rgb(43, 41, 41);
}

.logo {
    justify-content: flex-start;
    width: 100px;
    padding-left: 4%;
}

.navbar {
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 3%;
}

.nav-info {
    padding-right: 5%;
    width: 20px;
    height: 20px;
}

.nav-meals {
    width: 20px;
    height: 20px;
    padding-right: 5%;
}

.nav-reservation {
    padding-right: 10%;
    width: 20px;
    height: 20px;
}

.nav-review {
    width: 20px;
    height: 20px;
    padding-right: 5%;
}

li a {
    text-decoration: none;
    padding-right: 3%;
    color: rgb(73, 196, 233);
}


/* THIS PART IS ABOUT HEADER */

.meals ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.meals ul li {
    width: 250px;
    height: 380px;
    list-style-type: none;
    border: 1px solid rgb(206, 203, 203);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin: 1em;
    text-align: center;
}

.meals h1 {
    text-align: center;
}

.meals ul li h4 {
    margin-top: 0;
}

.meals ul li h3 {
    margin-bottom: 0;
}

.meals ul li img {
    width: 200px;
    height: 200px;
}

.meals ul li a {
    color: rgb(73, 196, 233);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 3px 15px rgba(34, 34, 34, 0.8);
}

.search-container {
    padding: 30px;
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.meals button {
    background-color: rgb(73, 196, 233);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* form action */

.totalbox {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 30px 30px;
    background: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input {
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
}

button {
    margin-top: 20px;
    cursor: pointer;
}

.loginbtn {
    background: rgb(73, 196, 233);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

.loginbtn:hover,
.loginbtn:focus {
    background: rgb(73, 196, 233);
}

.boxcheckbox label {
    font-size: 12px;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .totalbox {
        width: 90%;
    }
}